.paginationBttns {
    width: 80%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  .paginationBttns a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid #3af115;
    color: #022715;
    cursor: pointer;
  }
  
  .paginationBttns a:hover {
    color: white;
    background-color: #0a855c;
  }
  
  .paginationActive a {
    color: white;
    background-color: #033b21;
  }
  
  .paginationDisabled a {
    color: grey;
    background-color: grey;
  }